development:
  aws:
    access_key_id: xxx
    secret_access_key: xxx
    region: xxx
    sqs:
      queue_url: xxx
  pouchdb:
    database: db/grand-central-development

test:
  aws:
    access_key_id: xxx
    secret_access_key: xxx
    region: xxx
    sqs:
      queue_url: xxx
  pouchdb:
    database: db/grand-central-test

production:
  aws:
    access_key_id: xxx
    secret_access_key: xxx
    region: xxx
    sqs:
      queue_url: xxx
  pouchdb:
    database: db/grand-central-production